* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    min-height: 100vh;
    background-color: #282835;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}
main {
    padding: 100px 100px;
    color: white;
    font-size: 25px;
    background-image: url(React-icon.png);
    background-size: 20%;
    background-repeat:no-repeat;
    background-position-x: right;
    background-position-y: bottom;

}
.main--title{
    margin: 0;
    font-weight: bold;
}
.bullet-points{
    font-size: 20px;
}

.bullet-points > li{
    line-height: 19px;
    padding-block: 10px;

}

.bullet-points > li::marker{
    font-size: 2rem;
    color: #61DAFB;
}